@font-face {
   font-family: 'Game Of Squids';
   src: url('GameOfSquids-1GMVL.ttf');
}

html, #name, #nameEnter, #page2 {
   font-family: 'Game Of Squids';
}


html{
   background: linear-gradient(to bottom left, rgba(237, 27, 118), rgb(237, 0, 200)) fixed;
   background-repeat: no-repeat;
   color: white;
   overflow-y: hidden;
   box-sizing: border-box;
}

#welcome, #page2 {
   background-color: rgb(36, 159, 156);
}

h1 {
   text-align: center;
   font-size: 80px;
}

.intro {
   display: block;
   margin: auto;
   left: 50%;
}

#welcome {
   width: 500px;
   height: 500px;
   position: fixed;
   border-radius: 10px;
   top: 20%;
   left: 55%;
   font-size: 50px;
   padding-left: 20px;
   padding-top: 20px;
   box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
}

#welcome:after{
   position:absolute;
   border-top: 50px solid transparent;
   border-right: 50px solid rgb(36, 159, 156);
   border-left: none;
   border-bottom: 40px solid transparent;
   top: 15%;
   left: -50px;
   content: '';
}

#squidPicture{
   position: fixed;
   height: 500px;
   margin-left: 600px;
}

#name, #nameEnter {
   display: block;
   margin-left: 10px;
   margin-top: 10px;
   border-radius: 5px;
}

#name {
   height: 40px;
   font-size: 20px;
}

#nameEnter {
   font-size: 15px;
   width: 80px;
}

.nextPage{
   top: 90%;
   left: 85%;
   position: absolute;
   border: 0px transparent;
}

.nextPage:after{
   content: '';
   position: absolute;
   border-top: 50px solid transparent;
   border-right: none;
   border-left: 50px solid rgb(36, 159, 156);
   border-bottom: 50px solid transparent;
   left: 100%;
   top: 0%;
   margin-top: -25px;
}

#page2 {
   display: block;
   margin: auto;
   height: 60px;
   width: 150px;
   font-size: 20px;;
   border: 15px, 15px, 0, 15px;
}
